@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <h2 style="text-align:center;font-size:35px;color:red">Giới Thiệu, Tư Vấn Khách Hàng</h2>
<html>
<body>
 <div style="font-size:25px;color:black">
     <h4 style="color:darkblue; font-size:25px; padding-left:10px">Đồng Hồ 3D:</h4>
     <ul>   
         <li>Đồng Hồ Tường 3D Nổi Đẹp - Hiện Đại - Sang Trọng - Lạ Mắt !</li>
         <li>Mẫu Tranh treo tường phòng khách, tranh treo tường phòng ngủ, tranh phòng bếp, tranh trang trí, tranh treo tường giá rẻ...</li>
         <li>Thời gian tự nhiên thì vô hạn nhưng mỗi người thì chỉ có một số năm hữu hạn để sống. Thậm chí, chẳng ai biết được liệu ngày mai mình có còn hiện diện trên cuộc đời này. Vì vậy, hãy sống theo cách bạn muốn, chọn những thứ bạn cảm thấy phù hợp và theo đuổi những điều bạn thực sự yêu thích.
</li>
         <img src="~/HinhAnh/h5.jpg" />
     </ul>
     <h4 style="color:darkblue; font-size:25px; padding-left:10px">Đồng Hồ vip:</h4>
        <ul>
            <li>Nếu bạn không biết cách sử dụng thời gian, nó sẽ không nể mặt bất kỳ một ai mà vuột qua tay bạn một cách vô nghĩa.</li>
            <li>Câu nói hay về chiếc đồng hồ này nhắc nhớ chúng ta về tác dụng và ý nghĩa sâu xa của những cỗ máy chỉ giờ.</li>
            <img src="~/HinhAnh/h6.jpg" />
        </ul>

 </div>
</body>
</html>
